<script lang="ts">
import Eliza from './Eliza.svelte';
//export let name: string;
</script>

<svelte:head>
	<title>Eliza</title>
</svelte:head>

<Eliza script="doctor.txt" echoInput={false} printData={false}></Eliza>

<style>
</style>